.hidden {
    display: none;
}

img {
    position:absolute;
    /*위치고정*/
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1; 
    /*z-index의 숫자가 클수록 요소가 화면에서 위쪽으로 올라간다.*/
    opacity:70%;
    }